/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.header__title {
    font-size: 2rem;
}

.header__description {
    font-size: 1.2rem;
}

/* Sección de Dueños y Trabajadores */
.team-member {
    text-align: center;
    margin-bottom: 2rem;
}

.team-member img {
    max-width: 50%;
    border-radius: 25%;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

/* Sección Interactiva de Terapias */
.therapy {
    text-align: center;
    margin-bottom: 2rem;
}

.therapy img {
    max-width: 100%;
    border-radius: 10px;
}

.therapy h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

/* Sistema de Citas */
.external-appointment-link {
    background-color: #3498db;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.external-appointment-link:hover {
    background-color: #2980b9;
}

/* Pie de Página */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer__text {
    font-size: 0.9rem;
}
