/* Estilos para ocultar el menú desplegable inicialmente */
.hidden {
    display: none;
}

/* Estilos para el menú desplegable */
#menu-desplegable {
    position: absolute;
    top: 60px; /* Ajusta la posición vertical según tu diseño */
    right: 10px; /* Ajusta la posición horizontal según tu diseño */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones */
button {
    padding: 5px 10px;
    margin: 5px;
}
